extends _includes/layout.pug
block content

	section.contact#contact
		.container
			
			form(action="process.php", id="formulario", method="POST").row
				.col-xs-12.col-sm-4.col-md-4.col-lg-4
					label(for="nombre") Nombre
					input(type="text", required, name="nombre", placeholder="Inserte su nombre")
					label(for="email") Asunto
					input(type="text", required, placeholder="Inserte el asunto del mensaje", name="asunto")
					label(for="email") E-mail
					input(type="email", required, placeholder="Ingrese su dirección de E-mail", name="email")
				.col-xs-12.col-sm-6.col-md-6.col-lg-6
					label(for="email") Mensaje
					textarea(name="mensaje",  required)
				.col-xs-12.col-sm-2.col-md-2.col-lg-2
					input(type="reset", class="reset", value="Borrar Todo").contact-btn
					input(type="submit", class="enviar", value="Enviar").contact-btn