extends _includes/layout.pug
block content

	section.evergreen
		.container
			.row
				.four.columns
					.eg-text
						h2 Follaje Artificial
						p El Follaje Artificial  es decorativamente atractivo. Ellos ofrecen una gran variedad de beneficios y tienen toda la belleza de los jardines naturales sin la preocupación constante o el cuidado. No es necesario regar y prácticamente no requieren ningún mantenimiento, son extremadamente agradables y económicos, porque a largo plazo el costo global es mucho menor. Veamos a continuación qué otras ventajas presentan estos tipos de jardines.
				.four.columns
					.eg-text
						h2 Aspecto natural sin mantenimiento
						p Uno de los mejores beneficios de los Follajes Artificiales es que tu propiedad ganará ese maravilloso atractivo exterior que todos deseamos. Si siempre que ves un jardín con una hermosa vid natural que transmite esa sensación acogedora propia de la naturaleza sueñas con un espacio igual en casa, un jardín vertical artificial puede lograr ese aspecto ideal rápidamente y libre de mantenimiento. Esto te dará la libertad de tener más tiempo para disfrutar de la vida y hacer otras cosas que son importantes para ti y para tu familia.
				.four.columns
					.eg-text
						h2 Variedad de especies sin limitaciones de luz
						p Se puede elegir una amplia variedad de especies. Nuestro equipo utiliza una alta calidad de Diseños que simulan Plantas Naturales de diversas Especies,  que te harán pensar que son de verdad. Estas plantas no necesitan luz, por lo que un hermoso Follaje con especies artificiales se puede configurar sin limitarte por la ubicación. Todo lo que tienes que hacer es limpiar con un paño suave para que se vea nuevo y fresco.
	section.evergreen.bg-img
		.container
			.row
				.six.columns
					.eg-text
						h2 Menor costo
						p El factor costo es otra ventaja importante de los Follajes Artificiales. Porque es tan rentable es ideal para arquitectos, paisajistas y constructores que pueden tener un presupuesto limitado del proyecto y esperar un buen rendimiento.
						p También en los hogares es una gran solución para reducir los costos de mantenimiento de plantas naturales y Follajes Artificiales con plantas vivas. Requiere una única inversión para toda la vida.
				.six.columns
					.eg-text
						h2 Ambientes agradables sin consecuencias
						p Los hospitales suelen tener estas increíbles Follajes Artificiales  para ayudar a embellecer el ambiente y levantar el ánimo de sus pacientes sin correr el riesgo de plagas y enfermedades. También son ideales para hogares de ancianos o centros para personas mayores. Muchas casas, oficinas y locales comerciales tienen estos elegantes jardines también. Imagínate lo bonitos que se verían estos Follajes Artificiales  en la terraza de un restaurante, un área de recepción, vestíbulos o en el área de la piscina.
						p En conclusión, pueden agregar estilo decorativo y gracia a edificios de apartamentos y oficinas, centros comerciales, escuelas o cualquier espacio comercial o residencial.
	section.evergreen
		.container
			.row
				.twelve.columns
					.eg-text
						h2 Ocultar elementos poco atractivos
						p Los Follajes Artificiales  son ideales para ocultar características poco atractivas de paredes y fachadas como medidores eléctricos, aires acondicionados y ductos, desperfectos o cualquier cosa que puede no ser atractiva a la vista y que obstruye la estética del lugar. Estos elementos pueden ser fácilmente cubiertos y tu espacio se verá espectacular después.

						h2 Sin limitaciones de espacio
						p Estas Follajes Artificiales  se construyen siempre para adaptarse a las necesidades de cada espacio, sin limitaciones. Puedes elegir entre los tamaños estándar disponibles o también se pueden construir y adaptar a la medida de tus dimensiones específicas, desde pocos metros cuadrados hasta grandes extensiones.
						p Mientras disfrutas de una calidad superior, algunos de nuestros Follajes Artificiales  como si han estado creciendo durante años, y nunca tendrían que ser regados o cortados. Se obtiene vegetación magnífica instantánea y no hay periodo de crecimiento en las plantas que pueda arruinar el diseño. Muy vibrante, verde y elegante para cualquier proyecto que exige un diseño inventivo, estas paredes rápidamente hacen el trabajo.
						p Dale a tu espacio muerto una nueva cara mediante la adición de un precioso Follajes Artificiales. Ya se trate de flores o hiedras, pocos metros o grandes extensiones, podemos ayudarte a conseguir lo que buscas. 
