extends _includes/layout.pug
block content

	//- Mixin ========================================
	mixin imgGallery(title, des, imgMin, imgFull)
		figure
			img(src=imgMin, data-image=imgFull).gallery-img
			figcaption
				h4.gallery-title= title
				p.galery-description= des

	//- Gallery ========================================
	section.gallery
		.modal
			.container
				.row
					.twelve.columns
						.modal-container
							img(src="").modal-img
							p.modal-text para cerrar haga click.
		.container
			.row
				.three.columns
					+imgGallery("imagen 1", "descripcion 1", "img/gallery/thumbs/thumb-1.jpg", "img/gallery/img-gallery-1.jpg")
				.three.columns
					+imgGallery("imagen 2", "descripcion 2", "img/gallery/thumbs/thumb-2.jpg", "img/gallery/img-gallery-2.jpg")
				.three.columns
					+imgGallery("imagen 3", "descripcion 3", "img/gallery/thumbs/thumb-3.jpg", "img/gallery/img-gallery-3.jpg")
				.three.columns
					+imgGallery("imagen 4", "descripcion 4", "img/gallery/thumbs/thumb-4.jpg", "img/gallery/img-gallery-4.jpg")
			.row
				.three.columns
					+imgGallery("imagen 1", "descripcion 1", "img/gallery/thumbs/thumb-1.jpg", "img/gallery/img-gallery-1.jpg")
				.three.columns
					+imgGallery("imagen 2", "descripcion 2", "img/gallery/thumbs/thumb-2.jpg", "img/gallery/img-gallery-2.jpg")
				.three.columns
					+imgGallery("imagen 3", "descripcion 3", "img/gallery/thumbs/thumb-3.jpg", "img/gallery/img-gallery-3.jpg")
				.three.columns
					+imgGallery("imagen 4", "descripcion 4", "img/gallery/thumbs/thumb-4.jpg", "img/gallery/img-gallery-4.jpg")
			