extends _includes/layout.pug
block content
	
	//- Home ========================================
	section.section-video#video
		.container
			.row
				.twelve.columns
					.video-container
						.video
							iframe(src="//www.youtube.com/embed/JS6BQRllzc4" frameborder="0" allowfullscreen)

	section.section-about#about
		.container
			.row
				.twelve.columns
					h2.sub-title <span class="text-light">sport</span>grass
					.about
						p Somos una empresa especializada en la venta e instalación de Grama sintética para canchas deportivas como: Futbol 7, Futbol Soccer, Futbol americano, Futbol rápido, Tenis y más. Contamos con Grama artificial para uso deportivo y residencial. Realizamos instalaciones de Grama sintética en toda la República de Guatemala y Centro América.

	section.section-grass
		.container
			.row
				.four.columns
					.grass-text.text-left
						h4 Ahorro del 98% de agua respecto al césped natural
						p El césped artificial no necesita riego. Aun así, es aconsejable disponer de una toma de agua o algún aspersor para limpiarlo o refrescarlo.
						h4 Reducción de gastos de mantenimiento
						p Respecto al césped natural, el césped artificial necesita muchísimo menos mantenimiento. Simplemente un regado para eliminar el polvo cada 3 meses es suficiente para mantenerlo como el primer día.
				.four.columns
					.grass-text.text-center
						h4 Cómodo y sin problemas por muchos años
						p Resiste cualquier condición climática, no se hiela, no se pudre ni se seca. Resiste frío, calor, nieve, lluvia.
						h4 Cuida el medio ambiente
						p Sobre todo en zonas donde llueve poco, el césped artificial es un aliado en la protección del medio ambiente.
				.four.columns
					.grass-text.text-right
						h4 Ideal en jardines con piscina
						ul
							li No sufre alteraciones por el contacto con aguas cloradas en zonas de piscinas
							li Mantiene limpia el agua al no desprenderse las hojas ni acumular barro
						h4 Compatible con los animales
						ul
							li Es más saludable y beneficioso para el propietario y para la mascota.
							li Resistente a excavaciones y arañazos, jardín más verde y sin daños.

	section.section-description
		.container
			.row
				.six.columns
					.left
						.card
							p Nuestra división de Grama sintética deportiva, cuenta con Fibra sintética importada de la Línea Tencate, nuestro método de instalación aprobado por el STC, consejo internacional de Grama Sintética nos permite dar a nuestros clientes mejores garantías a nuestro Producto. Además  para la instalación se cuenta con herramienta y maquinaria especializada, sin contar el personal que cuenta con años de experiencia.
							p Nuestra división de césped sintético para jardín, al ser instalado cuenta con una apariencia 100% como el pasto natural, nuestro Grama sintética es tan real, que difícilmente se darán cuenta que lo que hay en los jardines es césped artificial.
				.six.columns
					.right
						.card
							p Contamos con el Mejor Precio de Grama Sintética del Mercado, ya que somos líderes a nivel nacional en nuestra industria y dados los altos volúmenes de Grama sintética que vendemos mes con mes, podemos ofrecerles a nuestros clientes productos Premium a precios muy competitivos.
							p Nuestros expertos en grama sintética están listos y preparados para asesorarle y juntos lograr la mas alta calidad en su Proyecto.