extends _includes/layout.pug
block content

	section.product
		.bg-cl
			.container
				.service#service1
					.row
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.service-description
										h2.service-title GGrama Sintética Deportiva.
										p La grama sintetica deportiva es un producto de alta tecnología. Asegura excelente desempeño con bajos costos de mantenimiento. Son diseñadas para alto tráfico o uso muy frecuente sin el deterioro del césped natural e incentiva el uso de espacios de recreación y deporte.

								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.img-group.lay-l
										img(src="img/service/service-2.jpg", alt="Grama sintética Deportiva").service-img-1
										img(src="img/service/service-3.jpg", alt="").service-img-2
		.bg-img
			.container
				.service#service2
					.row
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.img-group.lay-r
										img(src="img/service/service-6.jpg", alt="Grama sintética Deportiva").service-img-1
										img(src="img/service/service-4.jpg", alt="Grama sintética Deportiva").service-img-2
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.service-description
										h2.service-title Grama Sintética Residencial
										p Posee una gran estabilidad pese a las condiciones climáticas o el tráfico de personas, siempre conservará su color y su forma. Se puede utilizar en zonas arborizadas puesto que no requiere luz solar. Además, no requiere fertilizantes ni pesticidas, es fácil de instalar y de mantener.
		.bg-cl
			.container
				.service#service3
					.row
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.service-description
										h2.service-title Pisos Multipropósito
										p Somos una empresa dedicada al reciclaje de llantas usadas mediante su trituración en la ciudad de Guatemala; una empresa viable e importante desde el punto de vista ambiental, social, económico, que valorizará la actividad del reciclaje, de alto potencial y proyección hacia el futuro.

		 
										p La disposición final de las llantas procesadas es la elaboración de GRANULADO DE CAUCHO MOLIDO utilizado en la fabricación de distintos productos.
		 
										p Tenemos la capacidad de desarrollar cualquier proyecto de canchas deportivas con gramas sintéticas de calidad mundial en México, Centroamérica y Suramérica.

								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.img-group.lay-l
										img(src="img/service/service-1.jpg", alt="Grama sintética Deportiva").service-img-1
										img(src="img/service/service-6.jpg", alt="").service-img-2
		
		.bg-img
			.container
				.service#service4
					.row
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.img-group.lay-r
										img(src="img/service/service-2.jpg", alt="Grama sintética Deportiva").service-img-1
										img(src="img/service/service-3.jpg", alt="Grama sintética Deportiva").service-img-2
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.service-description
										h2.service-title Mallas Perimetrales
										p Fabricación y colocación de todo tipo de cercas perimetrales, de malla ciclónica, rejas electrosoldadas, tubos de acero, rejas de proteccion para albercas y mallas de polipropileno de alta tensión con protección hacia rayos UV de alta calidad y resistencia en interiores y exteriores de diferentes estilos, grosores y colores. Provee una mayor seguridad y protección.

										ul Ideales para:
											li Construcciones
											li Canchas deportivas
											li Juegos para niños
											li Jardines protección de techos
											li Redes para arcos
											li Papi Fútbol
											li Fútbol 5 - Fútbol 7
											li Fútbol 9 -Fútbol 11
											li Handball - Hockey

										p Hilo de polipropileno 3mm - Multifilamento trenzado - Alta tenacidad
										p 6 colores a elección ( blanco - rojo - azul - verde - amarillo - negro )
										p Confeccionadas con malla de 10x10 en todos los modelos
			
		.bg-cl
			.container
				.service#service5
					.row
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.service-description
										h2.service-title Tableros Electrónicos
										p Te ofrecemos el tablero deportivo para competencias deportivas de Baloncesto, Futsal, Voleibol, Fútbol, practicados en Coliseos, Estadios y Canchas deportivas.

										ul Especificaciones:
											li Medidas externas 2.20 mts. (largo) x 1.20 mt. (alto)
											li Dígitos con leds, de 30 am alto para tiempo, score, periodo y 20 cm para las faltas
											li Para anclar a pared o colgar a techo
											li Reloj/Cronometro de 4 dígitos cuenta descendente (baloncesto) y ascendente (voleibol y futsal)
											li Sonido: se activa automáticamente y manualmente
											li 2 letreros electrónicos 60 cm. Largo para poner nombre de los equipos
											li 2 marcadores de score de 2 dígitos c/u, marca hasta 199 puntos Periodo de 1 dígito
											li Periodo de 1 d&iacute;gito 
											li Faltas por equipos de 1 d&iacute;gito c/u
											li Letras de vinil blanco para: tiempo, periodo y faltas
											li Programado por computadora 
											li 220v 60 hz
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.img-group.lay-l
										img(src="img/service/service-12.jpg", alt="Grama sintética Deportiva").service-img-1
										img(src="img/service/service-13.jpg", alt="").service-img-2
		
		.bg-img
			.container
				.service#service6
					.row
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.img-group.lay-r
										img(src="img/service/service-2.jpg", alt="Grama sintética Deportiva").service-img-1
										img(src="img/service/service-10.jpg", alt="Grama sintética Deportiva").service-img-2
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.service-description
										h2.service-title Porterías y Redes
										p proveemos de los mejores materiales y equipamiento para su cancha de futbol. Nuestras porterías las fabricamos con última tecnología y son instaladas por profesionales.
		
		.bg-cl
			.container
				.service#service7
					.row
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.service-description
										h2.service-title Caucho Granulado
										p Seguridad y ahorro. Menos ruido y más durabilidad. Son las principales ventajas de emplear polvo procedente del reciclado de neumáticos
										p Alarga la vida útil de su cancha incrementando su rentabilidad y haciendo crecer su negocio.
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.img-group.lay-l
										img(src="img/service/service-5.jpg", alt="Grama sintética Deportiva").service-img-1
										img(src="img/service/service-3.jpg", alt="").service-img-2
		.bg-img
			.container
				.service#service8
					.row
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.img-group.lay-r
										img(src="img/service/service-2.jpg", alt="Grama sintética Deportiva").service-img-1
										img(src="img/service/service-8.jpg", alt="Grama sintética Deportiva").service-img-2
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.service-description
										h2.service-title Bancas Deportiva (Butacas)
										p hemos diseñado una línea de bancas que pueden instalarse en canchas de cualquier deporte. Tenemos un taller especializado que nos permite realizar cualquier diseño de acuerdo a sus necesidades y presupuesto. Todos nuestros materiales han pasado por controles de calidad para garantizar su durabilidad y resistencia, así como su belleza estética.