extends _includes/layout.pug
block content

	section(style="padding-top: 0").product
		.bg-cl
			.container
				.service.u-cf#service1
					.row
						.six.columns
							.service-description
								h2.service-title Grama Sint&eacute;tica Deportiva.
								p La grama sint&eacute;tica deportiva es un producto de alta tecnolog&iacute;a. Asegura excelente desempeño con bajos costos de mantenimiento. Son diseñadas para alto tr&aacute;fico o uso muy frecuente sin el deterioro del c&eacute;sped natural e incentiva el uso de espacios de recreaci&oacute;n y deporte.
						.six.columns
							.img-group.lay-l
								img(src="img/service/service-2.jpg", alt="Grama sintética Deportiva").service-img-1
								img(src="img/service/service-3.jpg", alt="").service-img-2
		.bg-img
			.container
				.service.u-cf#service2
					.row
						.six.columns
							.img-group.lay-r
								img(src="img/service/service-2.jpg", alt="Grama sintética Deportiva").service-img-1
								img(src="img/service/service-3.jpg", alt="Grama sintética Deportiva").service-img-2
						.six.columns
							.service-description
								h2.service-title Grama Sint&eacute;tica Residencial
								p Posee una gran estabilidad pese a las condiciones clim&aacute;ticas o el tr&aacute;fico de personas, siempre conservará su color y su forma. Se puede utilizar en zonas arborizadas puesto que no requiere luz solar. Adem&aacute;s, no requiere fertilizantes ni pesticidas, es f&aacute;cil de instalar y de mantener.
		.bg-cl
			.container
				.service.u-cf#service3
					.row
						.six.columns
							.service-description
								h2.service-title Pisos Multiprop&oacute;sito
								p Somos una empresa dedicada al reciclaje de llantas usadas mediante su trituración en la ciudad de Guatemala; una empresa viable e importante desde el punto de vista ambiental, social, económico, que valorizará la actividad del reciclaje, de alto potencial y proyección hacia el futuro.
 
								p La disposición final de las llantas procesadas es la elaboracion de GRANULADO DE CAUCHO MOLIDO utilizado en la fabricación de distintos productos.
 
								p Tenemos la capacidad de desarrollar cualquier proyecto de canchas deportivas con gramas sintéticas de calidad mundial en México, Centroámerica y sur America
						.six.columns
							.img-group.lay-l
								img(src="img/service/service-2.jpg", alt="Grama sintética Deportiva").service-img-1
								img(src="img/service/service-3.jpg", alt="").service-img-2
		
		.bg-img
			.container
				.service.u-cf#service4
					.row
						.six.columns
							.img-group.lay-r
								img(src="img/service/service-2.jpg", alt="Grama sintética Deportiva").service-img-1
								img(src="img/service/service-3.jpg", alt="Grama sintética Deportiva").service-img-2
						.six.columns
							.service-description
								h2.service-title Mallas Perimetrales
								p Fabricaci&oacute;n y colocaci&oacute; de todo tipo de cercas perimetrales, de malla cicl&oacute;nica, rejas electrosoldadas, tubos de acero, rejas de protecci&oacute;on para albercas y mallas de polipropileno de alta tensi&oacute;n con protecci&oacute;n hacia rayos UV de alta calidad y resistencia en interiores y exteriores de diferentes estilos, grosores y colores. Provee una mayor seguridad y protecci&oacute;n.

								ul Ideales para:
									li Construcciones
									li Canchas deportivas
									li Juegos para niños
									li Jardines protección de techos
									li Redes para arcos
									li Papif&uacute;tbol
									li F&uacute;tbol 5 - F&uacute;bol 7
									li F&uacute;tbol 9 -F&uacute;tbol 11
									li Handball - Hockey

								p Hilo de polipropileno 3mm - Multifilamento trenzado - Alta tenacidad

								p 6 colores a elección ( blanco - rojo - azul - verde - amarillo - negro )

								p Confeccionadas con malla de 10x10 en todos los modelos
			
		.bg-cl
			.container
				.service.u-cf#service5
					.row
						.six.columns
							.service-description
								h2.service-title Tableros Electr&oacute;nicos
								p Te ofrecemos el tablero deportivo para competencias deportivas de Baloncesto, Futsal, Voleibol, F&uacute;tbol, practicados en Coliseos, Estadios y Canchas deportivas.

								ul Especificaciones:
									li Medidas externas 2.20 mts. (largo) x 1.20 mt. (alto)
									li D&iacute;gitos con leds, de 30 am alto para tiempo, score, periodo y 20 cm para las faltas 
									li Para anclar a pared o colgar a techo
									li Reloj/Cronometro de 4 d&iacute;gitos cuenta descendente (baloncesto) y ascendente (voleibol y futsal)
									li Sonido: se activa autom&aacute;ticamente y manualmente
									li 2 letreros electr&oacute;nicos 60 cm. Largo para poner nombre de los equipos
									li 2 marcadores de score de 2 d&iacute;gitos c/u, marca hasta 199 puntos
									li Periodo de 1 d&iacute;gito 
									li Faltas por equipos de 1 d&iacute;gito c/u
									li Letras de vinil blanco para: tiempo, periodo y faltas
									li Programado por computadora 
									li 220v 60 hz

						.six.columns
							.img-group.lay-l
								img(src="img/service/service-2.jpg", alt="Grama sintética Deportiva").service-img-1
								img(src="img/service/service-3.jpg", alt="").service-img-2
		
		.bg-img
			.container
				.service.u-cf#service6
					.row
						.six.columns
							.img-group.lay-r
								img(src="img/service/service-2.jpg", alt="Grama sintética Deportiva").service-img-1
								img(src="img/service/service-3.jpg", alt="Grama sintética Deportiva").service-img-2
						.six.columns
							.service-description
								h2.service-title Porter&iacute;as y Redes
								p proveemos de los mejores materiales y equipamiento para su cancha de futbol. Nuestras porterías las fabricamos con última tecnología y son instaladas por profesionales.
		
		.bg-cl
			.container
				.service.u-cf#service7
					.row
						.six.columns
							.service-description
								h2.service-title Caucho Granulado
								p Seguridad y ahorro. Menos ruido y más durabilidad. Son las principales ventajas de emplear polvo procedente del reciclado de neumáticos
								p Alarga la vida &uacute;til de su cancha incrementando su rentabilidad y haciendo crecer su negocio.
						.six.columns
							.img-group.lay-l
								img(src="img/service/service-2.jpg", alt="Grama sintética Deportiva").service-img-1
								img(src="img/service/service-3.jpg", alt="").service-img-2
		.bg-img
			.container
				.service.u-cf#service8
					.row
						.six.columns
							.img-group.lay-r
								img(src="img/service/service-2.jpg", alt="Grama sintética Deportiva").service-img-1
								img(src="img/service/service-3.jpg", alt="Grama sintética Deportiva").service-img-2
						.six.columns
							.service-description
								.service-description
									h2.service-title Bancas Deportiva (Butacas)
									p hemos diseñado una línea de bancas que pueden instalarse en canchas de cualquier deporte. Tenemos un taller especializado que nos permite realizar cualquier diseño de acuerdo a sus necesidades y presupuesto.  Todos nuestros materiales han pasado por controles de calidad para garantizar su durabilidad y resistencia, así como su belleza estética.