//- Footer ========================================
footer.footer
	.container
		.row
			.four.columns
				h3.footer-title ubicacion
				p cambote zona 11 sector 3 </br>Ciudad de Guatemala, Guatemala
			.four.columns
				h3.footer-title redes
				.footer-content
					a(href="https://twitter.com/sgsportgrass").footer-icon
						i(class="fa fa-twitter-square" aria-hidden="true")
					a(href="https://www.facebook.com/sgsportgrassintl/?ref=hl").footer-icon
						i(class="fa fa-facebook-square" aria-hidden="true")
					a(href="https://www.youtube.com/watch?v=JS6BQRllzc4").footer-icon
						i(class="fa fa-youtube-play" aria-hidden="true")
			.four.columns
				h3.footer-title telefonos
				.footer-content
					a(href="cel:(+502)-793-44-577").footer-link (+502)-793-44-577
					br
					a(href="cel:(+502)-506-45-207").footer-link (+502)-506-45-207