//- Footer ========================================
footer.footer
	.container
		.row.center-lg.middle-lg
			.col-xs-12.col-sm-12.col-md-4.col-lg-4
				h3.footer-title ubicacion
				p.place cambote zona 11 sector 3 </br>Ciudad de Guatemala, Guatemala
			.col-xs-12.col-sm-12.col-md-4.col-lg-4
				h3.footer-title redes
				.footer-content
					a(target="_blank", href="//twitter.com/sgsportgrass").footer-link  Twitter
						i(class="fa fa-twitter-square" aria-hidden="true")
					a(target="_blank", href="//www.facebook.com/sgsportgrassintl/?ref=hl").footer-link  Facebook
						i(class="fa fa-facebook-square" aria-hidden="true")
					a(target="_blank", href="//www.youtube.com/channel/UCQx-1dgDpzv1Dp_RStp1Lzg").footer-link  YouTube
						i(class="fa fa-youtube-play" aria-hidden="true")
			.col-xs-12.col-sm-12.col-md-4.col-lg-4
				h3.footer-title telefonos
				.footer-content
					a(href="cel:(+502)-793-44-577").footer-link (+502)-793-44-577
					br
					a(href="cel:(+502)-506-45-207").footer-link (+502)-506-45-207