header
	.header-bar
		.container
			.row.end-lg.middle-lg
				.col-xs-12.col-sm-2.col-md-2.col-lg-2
					img(src="img/logo-no-bg.png", alt="SportGrass", class="logo")
				
				.col-xs-12.col-sm-12.col-md-10.col-lg-10
					nav
						a(href="index.html") Inicio
						a(href="product.html") Productos
						a(href="evergreen.html") Evergreen
						a(href="gallery.html") Galeria
						a(href="contact.html") Contactos

	//- IMG Slider ========================================
	.slider-container
		.header-lead
			h1.page-title sport<span class="heavy">grass</span>
			p.page-blurp L&iacute;der en la venta de gramas artificiales y en la construcci&oacute;n de canchas deportivas, &aacute;reas recreativas a nivel nacional e internacional.
			a(href="contact.html").page-cta contactos
		.slider
			ul.slides
				li.slide
					figure
						img(src="img/slider/slide-1.jpg", alt="")
						figcaption
				li.slide
					figure
						img(src="img/slider/slide-2.jpg", alt="")
						figcaption
				li.slide
					figure
						img(src="img/slider/slide-3.jpg", alt="")
						figcaption
				li.slide
					figure
						img(src="img/slider/slide-4.jpg", alt="")
						figcaption
				li.slide
					figure
						img(src="img/slider/slide-5.jpg", alt="")
						figcaption
				li.slide
					figure
						img(src="img/slider/slide-6.jpg", alt="")
						figcaption
				li.slide
					figure
						img(src="img/slider/slide-7.jpg", alt="")
						figcaption
				li.slide
					figure
						img(src="img/slider/slide-1.jpg", alt="")
						figcaption
	.chevron
