//- Header ========================================
header.main-header

	.header-bar
		
		a(href="#")#menu-btn
			span#menu-icon

		.menu
			ul
				a(href="./product.html")
					li productos
				a(href="./evergreen.html")
					li evergreen
				a(href="./gallery.html")
					li galeria
				a(href="./contact.html")
					li contacto

		.container
			.row
				.two.columns
					.brand
						a(href="./index.html")
							img(src="img/logo-no-bg.png")

				.six.columns
					.sns
						ul <span class="bar">Nuestras redes</span>
							a(href="//www.facebook.com/sgsportgrassintl/")
								li#facebook-icon
									i(class="fa fa-facebook-square" aria-hidden="true")
							a(href="//www.youtube.com/watch?v=JS6BQRllzc4")
								li#youtube-icon
									i(class="fa fa-youtube-play" aria-hidden="true")
							a(href="//twitter.com/sgsportgrass")
								li#twitter-icon
									i(class="fa fa-twitter-square" aria-hidden="true")

				.four.columns
					.cta
						a.btn(href="cel:(+502)-506-45-207") llamenos
						a.btn(href="contact.html") contacto

	//- IMG Slider ========================================
	.slider-container
		.slider
			ul.slides
				li.slide
					img(src="img/slider/slide-1.jpg", alt="")
				li.slide
					img(src="img/slider/slide-2.jpg", alt="")
				li.slide
					img(src="img/slider/slide-3.jpg", alt="")
				li.slide
					img(src="img/slider/slide-4.jpg", alt="")
				li.slide
					img(src="img/slider/slide-5.jpg", alt="")
				li.slide
					img(src="img/slider/slide-6.jpg", alt="")
				li.slide
					img(src="img/slider/slide-1.jpg", alt="")

	//- Navigation bar ========================================
	nav.main-nav
		.container
			.row
				.three.columns
					.nav-item
						a(href="./product.html").nav-btn productos
				.three.columns
					.nav-item
						a(href="./evergreen.html").nav-btn evergreen
				.three.columns
					.nav-item
						a(href="./gallery.html").nav-btn galer&iacute;a
				.three.columns
					.nav-item
						a(href="./contact.html").nav-btn contacto