doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Sport Grass
		meta(name="description", content="Líderes en la venta de cesped artificial y en la construcción de canchas deportivas, áreas recreativas a nivel nacional e Internacional.")
		link(rel="icon" href="favicon.png" type="image/png" sizes="16x16")
		meta(name="author", content="Alejandro H Tadino M - Clicnovo")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(http-equiv="Cache-Control", content="max-age=3600")
		meta(http-equiv="Expires", content="Wen, 20 Jun 2018 1:00:00 GMT")
		link(rel='stylesheet' href='css/styles.css')
		script(src="js/jquery.min.js")
		script(src="https://use.fontawesome.com/8940ad064b.js")
	body
		include header.pug

		block content

		include footer.pug

		//- Scripts ----------------------------------------
		script(src="js/functions.js")